html,body{
    margin: 0%;
    padding: 0%;
    width: 100%;
    height: 100%;
    font-family: 'Roboto', sans-serif;;
}
.container-fluid{
    height: 666px;
    padding: 0%;
    margin: 0%;
    overflow: hidden;
    background: rgba(53, 51, 51, 0.699);
}
.nav-left{
    position: fixed;
    top: 0;
    height: 80px;

}
.nav-left ul li{
    display: inline-block;
    line-height: 80px;
    list-style: none;
    margin: 0 2em;
}
.nav-left ul li a{
    color: white;
    
}
.fleche{
    display: inline-block;
    transform: rotate(90deg);
    font-size: 12px;
    color: gray;
}
.nav-left ul li a:hover{
    color: #FF3366 !important;
    text-decoration: none;
}
.design-education{

    position: absolute;
    top: 80px;
    width: 100%;
    background: white;
    height: 450px;
    transition: all 0.6s;
    z-index: 999;
}
.hidden{
    opacity: 0;
    visibility: hidden;
    transition: all 0.6s;
}
.dropdown{
    margin: 3em;
}
.dropdown .title{
    font-size: 14px;
    color: gray;
    margin-bottom: 2em;
}
.subtitle p a{
    color: black;
    font-size: 14px;
    
}
.subtitle p{
    margin-bottom: 2em;
}
.desc{
    color: gray !important;
    font-size: 12px !important;
}
.nav-right{
    position: fixed;
    top: 0;
    right: 2em;
    height: 80px;
}
.nav-right ul li{
    display: inline-block;
    line-height: 80px;
    list-style: none;
    margin: 0 2em;
    color: white;
}
.nav-right ul li button{
    color: #FF3366;
    background: rgba(255, 51, 102, 0);
    border-radius:18px;
    border: 2px solid #FF3366;
    line-height: 30px;
}
.en-tete{
    position: absolute;
    top:20%;
    width: 100%;
    text-align: center;
}
.en-tete h1{
    font-weight: 100 !important;
    color:white;
    font-size:4.5em;
}
.en-tete p{
    font-size: 1.5em;
    color: white;
    font-weight: 100;
    margin-top: 2em;
}
.en-tete button{
    width: 15%;
    background: #FF3366;
    color: white;
    height: 5em;
    border: 2px solid #FF3366;
    font-weight: 100;
    letter-spacing: 4px;
    border-radius: 30px;
    margin-top: 2.3em;
    font-size: 0.8em;
}



























